:root {
    --primary-color: #254180;
    --secondary-color: #fa7;
    --basic-font-color: #3d3d3d;
}

/* Aqui vai o topo de tudo */
.top {
    width: 100%;
    height: 30px;
    background: var(--primary-color);
    margin-bottom: 2px;
    position: relative;    
}

/* Aqui vai a fot de capa, com o nome e link */
.box {
    width: 850px;
    height: 300px;
    margin: 0 auto;
    background: var(--primary-color);
    position: relative;
    font-family: Lucida, Tahoma, Arial, sans-serif;
    box-sizing: border-box;
}

.box span {
    display: inline-block;
    width: 550px;
    color: white;
    position: relative;
    top: 200px;
    left: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.name_perfil {
    font-size: 2rem;
    font-weight: bold;
}

.link_perfil {
    font-size: 1.5rem;
}

span a:link, span a:visited {
    color: white;
    text-decoration: none;
}

/* Aqui vai a fot e os menus para outras partes da rede social */
.menu {
    width: 850px;
    height: 60px;
    margin: 0 auto;
    background: var(--secondary-color);
    position: relative;
}

.link_menu {
    width: 650px;
    height: 60px;
    position: absolute;
    left: 200px;
}

li {
    display: inline-block;
    color: var(--primary-color);
    font-size: 25px;
    font-family: Lucida, Tahoma, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

li .perfil {
    position: absolute;
    bottom: 0;
    border-left: 1px solid var(--primary-color);
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 120px;
    left: 20px;
}

li .sobre {
    position: absolute;
    bottom: 0;
    border-left: 1px solid var(--primary-color);
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 120px;
    left: 140px;
}

li .amigos {
    position: absolute;
    bottom: 0;
    border-left: 1px solid var(--primary-color);
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 120px;
    left: 260px;
}

li .fotos {
    position: absolute;
    bottom: 0;
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 120px;
    left: 380px;
}

li a:link, li a:visited {
    color: var(--primary-color);
    text-decoration: none;
}

li .perfil:hover, li .sobre:hover, li .amigos:hover, li .fotos:hover {
    border-bottom: 2px solid var(--primary-color);
    background: var(--secondary-color);
    box-sizing: border-box;
}

/* Aqui vai a foto de perfil */
.photo {
    width: 180px;
    height: 180px;
    border: 0.5px solid white;
    position: relative;
    bottom: 140px;
    left: 30px;
    background: var(--primary-color);
    z-index: 1;
}

/* Daqui para baixo será a avaliação */

main {
    margin: 20px;
}

/* Aqui vai a caixa do Template com os Posts */
.template {
    display: block;
    width: 850px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    font-family: Lucida, Tahoma, Arial, sans-serif;
}

/* Aqui vai a caixa da coluna da esquerda e seus posts */
.esquerda {
    width: 328px;
    background: var(--primary-color);
    position: relative;
    left: 0;
    top: 0;
}


.sobre_perfil {
    width: 100%;
    background: rgb(250, 250, 250);
    padding-top: 1px;
    padding-bottom: 1px;
}

h3 {
    color: var(--primary-color);
    font-weight: bolder;
    border-top: 0.5px solid var(--secondary-color);
}

p {
    color: var(--primary-color);
    text-align: justify;
    border-bottom: 0.5px solid var(--secondary-color);
}

.sobre_perfil a:link, .sobre_perfil a:visited {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 10px;
}

.sobre_perfil img {
    display: inline-block;
    margin: 0 auto;
}

/* Aqui vai a caixa da diretira e seus posts */
.direita {
    width: 512px;
    background: var(--primary-color);
    position: absolute;
    right: 0;
    top: 0;
}

.post {
    width: 100%;
    background: rgb(250, 250, 250);
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    border: 1px solid var(--primary-color);
}

.small_photo {
    width: 80px;
    height: 80px;
    position: relative;
    top: 8px;
    left: 8px;
    background: var(--primary-color);
}

.post_name {
    display: inline-block;
    width: 150px;
    color: var(--primary-color);
    position: relative;
    bottom: 60px;
    left: 100px;
    font-weight: bold;
    font-size: 1.3rem;
}

.nothing {
    display: inline-block;
    width: 80px;
    position: relative;
    bottom: 60px;
    left: 100px;
    font-size: 0.9rem;
}

.small_box {
    display: inline-block;
    width: 90px;
    color: var(--primary-color);
    position: relative;
    bottom: 60px;
    left: 100px;
    font-size: 0.9rem;
}

#time {
    display: inline-block;
    width: 110px;
    color: var(--basic-font-color);
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 1rem;
}

.post img {
    display: inline-block;
    color: var(--basic-font-color);
    position: absolute;
    top: 50px;
    left: 215px;
}

.box2 {
    display: block;
    width: 100%;
    height: 180px;
    background: var(--primary-color);
    border: 2px solid white;
    box-sizing: border-box;
    position: relative;
}

#curtir, #comentar, #compartilhar {
    display: inline;
    width: 100%;
    color: var(--basic-font-color);
    position: relative;
    bottom: 0px;
    left: 0px;
    font-size: 1.3rem;
    padding-left: 15px;
}